@import '../../assets/css/common.less';

#home_age {
    .title {
        padding-left: 16px;
        border-left: 4px solid @title-blue;
        font-size: 20px;
        color: @font-black;
        border-radius: 3px;
        font-weight: bold;
    }

    .home_tab {
        background-color: #fff;
        padding: 20px;
        box-sizing: border-box;
        box-shadow: 0px 1px 6px rgba(165, 165, 165, 0.15);

        .tabs_box {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .tabs {
                width: 120px;
                background-size: 46px 58px;
                background-repeat: no-repeat;
                background-position: left bottom;
                overflow: hidden;
                padding-left: 64px;
                height: 80px;
                position: relative;

                .tab_num {
                    font-size: 28px;
                    font-weight: bold;
                    line-height: 36px;
                    color: @font-black;
                    position: absolute;
                    bottom: 30px;
                }

                .tab_msg {
                    line-height: 19px;
                    color: @font-black;
                    font-size: 14px;
                    position: absolute;
                    bottom: 0;
                }
            }
        }
    }

    //图表和日志
    .home_data {
        display: flex;
        margin-top: 20px;

        .home_echart {
            background-color: #fff;
            padding: 20px;
            box-sizing: border-box;
            flex: 1;
            box-shadow: 0px 1px 6px rgba(165, 165, 165, 0.15);
        }

        .home_journal {
            width: 500px;
            background-color: #fff;
            padding: 20px;
            box-sizing: border-box;
            flex: 1;
            box-shadow: 0px 1px 6px rgba(165, 165, 165, 0.15);
            position: relative;
            .all_journal{
                position: absolute;
                right:20px;
                top:26px;
                color: @time-color;
                font-size: 12px;
                cursor: pointer;
            }
            .journal_box{
                padding-left:20px;
                padding-top:20px;
            }
        }
    }
}